@keyframes slideIn {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0%);
  }
}

@keyframes slideOut {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}

@keyframes slideInReverse {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0%);
  }
}

@keyframes slideOutReverse {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(100%);
  }
}

/* slider behavior styles */

.slider {
  display: flex;
  position: relative;
}

.slider_slide:last-of-type {
  position: absolute;
  width: 100vw;
}

.slider_slide.normal {
  position: absolute;
  width: 100vw;
}

.slider_slide.normal:first-of-type {
  animation: slideOut 1s ease-in-out;
}

.slider_slide.normal:last-of-type {
  animation: slideIn 1s ease-in-out;
}

.slider_slide.reverse {
  position: absolute;
  width: 100vw;
}

.slider_slide.reverse:first-of-type {
  animation: slideOutReverse 1s ease-in-out;
}

.slider_slide.reverse:last-of-type {
  animation: slideInReverse 1s ease-in-out;
}

/* slider image styles */

.slider__img {
  width: 100%;
  height: 800px;
  object-fit: cover;
}

/* slider content styles */

.slider__text-block {
  position: absolute;
  top: 50%;
  left: 50%;
  display: flex;
  width: max-content;
  flex-direction: column;
  align-items: center;
  transform: translate(-50%, -50%);
  color: #fff;
}

.slider__title {
  font: 700 4rem/1.5 "Montserrat";
  margin: 0 auto 30px;
}

.slider__subtitle {
  font: 400 3rem/1.5 "Montserrat";
  margin: 0 auto 30px;
}

.slider__button {
  font: 400 1.5rem/1.5 "Montserrat";
  color: #fff;
  text-decoration: none;
}

.slider__button {
  font: 400 2rem/1.5 "Montserrat";
  text-decoration: none;
  background-color: #333;
  padding: 5px 50px;
  border-radius: 5px;
}

.slide__arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font: 400 3.5rem/1.5 "Montserrat";
  color: #fff;
  width: fit-content;
}

.slide__arrow_left {
  left: 5%;
}

.slide__arrow_right {
  right: 5%;
}